@model List<Entidades.eDoctoOtros>
@{
    ViewBag.Title = "Otros Documentos";
}
<style>
    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .center {
        text-align: center;
    }

    .disabled {
        color: grey;
    }
</style>
<h3>Documentos de categoría Otros</h3>
<input type="button" value="Iniciar Validación" class="col-md-3 btn btn-primary" id="btnAbrir" />
<br />
<br />
<div class="contenedor">
    <table class="table table-bordered bg-info">
        <tbody>
            <tr>
                <th class="input-sm" scope="row">Empresa: @ViewBag.empresa</th>
                <th class="input-sm" scope="row">Sucursal: @ViewBag.estacion</th>
                <th class="input-sm" scope="row">Fecha: @Convert.ToDateTime(@ViewBag.dia).ToShortDateString()</th>

            </tr>
        </tbody>
    </table>

    <div class="tablecontainer">

        <table id="tablaMovimiento" class="table table-striped  table">

            <thead class="bg-info">
                <tr>
                    <th class="hidden"> COD. TIPO DOCUMENTO</th>
                    <th>TIPO DOCUMENTO</th>
                    <th>DOCTO</th>
                    <th class="hidden">FECHA</th>
                    <th>JUSTIFICACION</th>
                    <th>Q. TOTAL</th>
                    <th>VALIDADO</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <div id="divResultado">

        </div>
        <div id="botonera">
            <input type="button" value="Finalizar Validación" class="col-md-3 btn btn-danger" id="btnFinalizar" />
            <br />
        </div>
        <hr />
        <h3>Observaciones</h3>
        @Html.ActionLink("Agregar Observación", "nuevaObservacion", "observacionUV", new { pantalla = "08" }, new { @class = "popup btn btn-primary" })
        @Html.ActionLink("Informe de observaciones", "verInformeObservacionPantalla", "observacionUV", new { pantalla = "08" }, new { @class = "btn btn-primary" })
        <br />
    </div>
    <div id="divObservacion" class="tablecontainer">

    </div>
    <hr />
</div>


<div>
    @Html.ActionLink("Salir", "index", "home", "", new { @class = "btn btn-danger" })
    @Html.ActionLink("Retroceder", "edit", "movimientoPagoTC", "", new { @class = "btn btn-primary" })
    @Html.Partial("btnUV")
</div>

@section scripts
{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
            cargarTotales();
            cargarObservaciones();
            var oTable = $('#tablaMovimiento').DataTable(
                {                    
                    "searching": false,
                    "paging": false,
                    language: {
                        decimal: ",",
                        processing: "Procesando...",
                        search: "Buscar:",
                        lengthMenu: "",
                        info: "",
                        infoEmpty: "",
                        infoFiltered: "",
                        infoPostFix: "",
                        loadingRecords: "",
                        zeroRecords: "",
                        emptyTable: "",
                        paginate: {
                            first: "Primero",
                            previous: "Anterior",
                            next: "Siguiente",
                            last: "Ultimo"
                        },
                        aria: {
                            sortAscending: ": activer pour trier la colonne par ordre croissant",
                            sortDescending: ": activer pour trier la colonne par ordre décroissant"
                        }
                    },
                    "ajax": {
                        "url": '/doctoOtros/getDoctoOtrosxEstacionxFecha',
                        "type": "get",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "codTipoDocto", "class": "hidden" },
                        { "data": "descTipoDocto", width: 170 },
                        { "data": "codDocto", "autoWidth": true },
                        { "data": "fecha", "class": "hidden" },
                        { "data": "justificacion", width: 400 },
                        { "data": "monto", "autoWidth": true, "className": "right", "type": "numeric-comma", targets: 3 },
                        {
                            "data": "validado", "width": "10", "render": function (data, type, full) {
                                if (data == true) {                                    
                                    return '<a  class="popup1"  data-toggle="tooltip" data-placement="top" title="Validado"  href="/doctoOtros/guardarValidar/1?tipoDocto=' + full.codTipoDocto + '&docto=' + full.codDocto + '&fecha=' + full.fecha + '"> <span class="glyphicon glyphicon-record"></span></a>';
                                }
                                else {
                                    return '<a class="popup1" data-toggle="tooltip" data-placement="top" title="Validar"  href="/doctoOtros/guardarValidar/1?tipoDocto=' + full.codTipoDocto + '&docto=' + full.codDocto + '&fecha=' + full.fecha + '"> <span class="glyphicon glyphicon-unchecked"></span></a>';
                                }

                            }, className: "center"
                        }
                    ], "initComplete": function (settings, json) {
                        obtenerEstado();
                    }
                });

            // -- Eventos Clicks
            // -- Boton con Vista Parcial
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })

            // -- Boton sin Vista
            $('.tablecontainer').on('click', 'a.popup1', function (e) {
                e.preventDefault();
                var url = $(this).attr('href')
                $.ajax({
                    type: "POST",
                    url: url,
                    success: function (salida) {
                        if (salida.retorno >= 1) {
                            oTable.ajax.reload();
                            cargarTotales();
                            cargarObservaciones();
                        }
                    }
                })
            })
            // --Popup
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                });
                // -- Abrir Dialogo
                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog(
                    {
                        draggable: true,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: '',
                        height: 'auto',
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
                // -- Enviar Formulario
                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.salida.retorno >= 1) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                                cargarTotales();
                                cargarObservaciones();
                            }
                            $.notify(data.salida.mensaje, "info");
                        }
                    })
                    e.preventDefault();
                })
                $dialog.dialog('open');
            }

            function cargarTotales() {
                $.ajax({
                    type: "POST",
                    url: '/doctoOtros/getLiquidacionDoctoOtrosxEstacionxFecha',
                    success: function (data) {
                        $('#divResultado').empty();
                        $('#divResultado').append('<table class="table table-bordered  ">'
                            +
                            '<tr><th>Total Reportado</th><th>Total Documentos</th><th>Diferencia</th></tr>' +
                            '<tr><th> Q. ' + data.montoTotalReportado + '</th><th>Q. ' + data.montoTotalDocumentos + '</th><th> Q. ' + data.diferenciaMontoDocto + '</th></tr>'
                            +
                            '</table>'
                        );
                        $('#divResultado').append(
                            '<table class="table table-bordered">'
                            +
                            '<tr><th>Total Reportado</th><th>Total Validado</th><th>Diferencia</th></tr>' +
                            '<tr><th>Q. ' + data.montoTotalReportado + '</th><th>Q. ' + data.montoTotalConciliado + '</th><th>Q. ' + data.diferenciaMontoConciliado + '</th></tr>'
                            +
                            '</table>'
                        );
                    }
                })
            }
            function cargarObservaciones() {
                $.ajax({
                    type: "POST",
                    url: '/observacionUV/getObservacionUV/id=1?codPantalla=08',
                    success: function (data) {
                        $('#divObservacion').empty();
                        $('#divObservacion').append('<table class="table table-bordered" id="tblObservacion">'
                            +
                            '<tr><th class="hidden">Codigo</th><th width=700>Descripción</th><th>Usuario</th><th class="hidden">Tipo</th><th>Fecha</th><th>Acción</th></tr>'
                        );
                        $.each(data, function () {
                            if (this.tipoObservacion == "M") {
                                $('#tblObservacion').append(
                                    '<tr><td class="hidden">' + this.codObservacion + '</td><td width=700>' + this.descripcion + '</td><td>' + this.usuario + '</td><td class="hidden">' + this.tipoObservacion + '</td><td>' + this.fecha + '</td><td><a class="popup" data-toggle="tooltip" data-placement="top" title="Eliminar Observación"  href="/observacionUV/eliminar/1?codObservacion=' + this.codObservacion + '"> <span class="glyphicon glyphicon-trash"></span></a></td></tr>'
                                );
                            } else {
                                $('#tblObservacion').append(
                                    '<tr><td class="hidden">' + this.codObservacion + '</td><td width=700>' + this.descripcion + '</td><td>' + this.usuario + '</td><td class="hidden">' + this.tipoObservacion + '</td><td>' + this.fecha + '</td></tr>'
                                );
                            }

                        });
                        $('#divObservacion').append('</table>');
                    }
                })
            }
            $(function () {
                $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" }).val()
            });


            function obtenerEstado() {
                $.ajax({
                    type: "POST",
                    url: '/doctoOtros/getEstadoPantalla',
                    success: function (data) {
                        if (data.salida.retorno >= 1) {
                            $(".contenedor").find('input, textarea, button, span, td, a').removeClass('disabled');
                            $('.glyphicon').fadeIn(2000);
                            $('#botonera').fadeIn(2000);
                        }
                        else {
                            $(".contenedor").find('input, textarea, button, span, td, a').addClass('disabled');
                            $('.glyphicon').slideUp();
                            $('#botonera').slideUp();
                        }
                        cargarObservaciones();
                    }
                });
            }

            function abrirVentana() {
                $.ajax({
                    type: "POST",
                    url: '/doctoOtros/abrirPantallaUV',
                    success: function (data) {
                        if (data.salida.retorno >= 1) {
                            obtenerEstado();
                        }
                        else {
                            obtenerEstado();
                            $.notify(data.salida.mensaje, "warn");
                        }
                    }
                })
            }
            function cerrarVentana() {
                $.ajax({
                    type: "POST",
                    url: '/doctoOtros/cerrarPantallaUV',
                    success: function (data) {
                        if (data.salida.retorno >= 1) {
                            $.notify(data.salida.mensaje, "info");
                            obtenerEstado();
                        }
                        else {
                            $.notify(data.salida.mensaje, "warn");
                        }
                    }
                });
            }

            $("#btnAbrir").on('click', function () {
                abrirVentana();
            });

            $("#btnFinalizar").on('click', function () {
                cerrarVentana();
            });


        });

    </script>

}