@model Entidades.eMovimientoEfectivoDet

@using (Html.BeginForm("eliminarDocumento", "movimientoefectivo", FormMethod.Post, new { id = "popupForm" }))
{
    
    <div class="form-horizontal">
        <h2>¿Desea eliminar?</h2>
        No. Documento: <strong>@Model.codDocumento</strong>
        <hr />
        @Html.EditorFor(model => model.codBanco, new { htmlAttributes = new { @class = "hidden" } })
                @Html.EditorFor(model => model.codCuenta, new { htmlAttributes = new { @class = "hidden" } })
    
                @Html.EditorFor(model => model.codDoctoBanco, new { htmlAttributes = new { @class = "hidden" } })               
                @Html.EditorFor(model => model.codDocumento, new { htmlAttributes = new { @class = "hidden" } })       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="eliminar" class="btn btn-danger" />
            </div>
        </div>
    </div>
}
