@model List<Entidades.ePresupuesto>

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>

            <th scope="col">Empresa</th>
            <th scope="col">Unidad De Negocio</th>
            <th scope="col">Area</th>
            <th scope="col">Departamento</th>
            <th scope="col">Tipo Presupuesto</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>@ViewBag.empresa</td>
            <td>@ViewBag.estacion</td>
            <td>@ViewBag.area </td>
            <td>@ViewBag.departamento</td>
            <td>@ViewBag.tipopresupuesto</td>
        </tr>
    </tbody>
</table>
@using (Html.BeginForm("procesarSetPrecioMargen", "presupuesto", FormMethod.Post))
{
    <div class="form-horizontal col-md-offset-1" style="width:900px">

        <table id="tabla" class="table table-bordered table-hover display">
            <thead>
                <tr>

                    <th class="input-sm" style="text-align:center">PRODUCTO</th>
                    <th class="input-sm "> <div style="text-align:center">PRECIO PUBLICO</div></th>
                    <th class="input-sm "><div style="text-align:center">MARGEN</div></th>
                    <th class="input-sm "><div style="text-align:center">TRANSPORTE</div></th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td class="input-sm">
                            @Model[i].descProducto
                        </td>
                        @Html.EditorFor(model => @Model[i].claseProducto, new { htmlAttributes = new { @class = "hidden" } })
                        @Html.EditorFor(model => @Model[i].familiaProducto, new { htmlAttributes = new { @class = "hidden" } })
                        @Html.EditorFor(model => @Model[i].codProducto, new { htmlAttributes = new { @class = "hidden" } })
                        <td>
                            @Html.EditorFor(model => @Model[i].precioPublico, new { htmlAttributes = new { @class = "form-control input-sm pull-right celda", @style = "text-align:right" } })

                        </td>
                        <td>
                            @Html.EditorFor(model => @Model[i].margenUtilidad, new { htmlAttributes = new { @class = "form-control input-sm ", @style = "text-align:right" } })
                        </td>
                        <td>
                            @Html.EditorFor(model => @Model[i].precioTransporte, new { htmlAttributes = new { @class = "form-control input-sm ", @style = "text-align:right" } })
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="form-group" style="text-align:center">
            <div class="btn-group">
                <input type="submit" value="Procesar" class="btn btn-primary" />
                @Html.ActionLink("Salir al Menú", "index", "home", "", new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
    }

