@model Entidades.eEntorno

@{
    ViewBag.Title = "Elegir día a trabajar";
}
     <div class="col-md-offset-1 col-md-10">
        <h4>Seleccionar día a trabajar</h4>
         </div>

@using (Html.BeginForm("procesarDia","usuario",FormMethod.Post)) 
{    
    <div class="form-horizontal">      
        <div class="form-group">
            <label class="control-label col-md-2" for="dia">Día</label>
            <div class="col-md-10">
            @Html.EditorFor(m=>m.dia , new { htmlAttributes = new {@id= "datepicker", @Value=@DateTime.Now.Date.ToString("dd/MM/yyyy")}})   
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Procesar Día" class="btn btn-primary" />
            </div>
        </div>
        @if (@ViewBag.procesardia == "false")
            {
        <div class="alert alert-warning">@ViewBag.mensaje</div>
        }
    </div>
}
<hr />
<div class="btn-group">
    @Html.ActionLink("Regresar", "entorno", "usuario", new { @class = "btn btn-primary" })

    @Html.ActionLink("Salir", "login", "usuario", new { @class = "btn btn-danger" })
</div>
<script src="~/Scripts/moment.js"></script>
@section scripts {
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
  $( function() {
      $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" }).val()
  } );
</script>

}
